<%- include('header') %>
    <div class="row" style="margin-right: 100px;">
        <div class="offset-s4 col s8">
            <h1 class="my-fancy-font" style="text-align: center;">
                All Pending Work
            </h1>
            <table>
                <!-- table head -->
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Work</th>
                        <th>Remove</th>
                    </tr>
                </thead>

                <!-- table content fetched from backend -->
                <tbody>
                    <%  for(let todo of pending_todos){ %>
                        <% if(todo.isDone ==  false) { %>
                    <tr>
                        <td> <%= todo.date.day  %>-<%= todo.date.month  %>-<%= todo.date.year  %></td>
                        <td> <%= todo.work %> </td>  
                        <td> <%= todo.isDone %> </td>
                    </tr>
                    <%  }  %>
                    <%  }  %>
                </tbody>
            </table>
        </div>
    </div>
<%- include('footer') %>